In [1]:
import pandas as pd

In [3]:
df_2700_1= pd.read_csv('access_2700_1_1000.csv')
df_2700_1['acc2700_1000']=df_2700_1['acc2700']*1000
df_2700_1.head()

   orig   acc2700  acc2700_1000
0     1  0.003950      3.949689
1     2  0.003945      3.945097
2     3  0.003880      3.880274
3     4  0.003925      3.925451
4     5  0.003867      3.866914

In [6]:
df_2700_1.describe().drop(columns=['orig']).T

,count,mean,std,min,25%,50%,75%,max
acc2700,166980.0,0.003448,0.001225,0.000008,0.002291,0.003881,0.004425,0.005553
acc2700_1000,166980.0,3.448125,1.225339,0.008260,2.290611,3.880659,4.424888,5.552998

In [7]:
df_2700_min_f= pd.read_csv('access_2700_min_f_1000.csv')
df_2700_min_f['acc2700_1000']=df_2700_min_f['acc2700']*1000
df_2700_min_f.head()

   orig   acc2700  acc2700_1000
0     1  0.004026      4.026122
1     2  0.004022      4.021514
2     3  0.003957      3.956501
3     4  0.004002      4.001805
4     5  0.003943      3.943104

In [8]:
df_2700_min_f.describe().drop(columns=['orig']).T

,count,mean,std,min,25%,50%,75%,max
acc2700,166980.0,0.003431,0.001237,0.0,0.002244,0.003876,0.004421,0.005553
acc2700_1000,166980.0,3.431149,1.237322,0.0,2.244193,3.875952,4.420742,5.553090