In [1]:
import pandas as pd

In [2]:
pop_df= pd.read_csv('data/cook_blocks_2020_15mibuffer_pop_demandscore_V9_166980.csv')
pop_df.drop(axis=1, columns=['ds'], inplace=True)
pop_df.head()

             geoid  pop
0  180890101001001   25
1  180890101001002   67
2  180890101002014  151
3  180890101002015   40
4  180890101002016   55

In [3]:
pop_df.to_csv("Results/cookcounty_15mi_blocks_pop.csv",index=False)

## Replace Index to reduce the data process size

In [4]:
import polars as pl
index_df=pl.read_csv("17031-Block-Car-OD-index_166987_V2.csv")
index_df = index_df.select(
    [
        pl.col("geoid"),
        pl.col("id"),
    ]
)
index_df.head()

shape: (5, 2)
┌─────────────────┬─────┐
│ geoid           ┆ id  │
│ ---             ┆ --- │
│ i64             ┆ i64 │
╞═════════════════╪═════╡
│ 170310101001000 ┆ 1   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 170310101001001 ┆ 2   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 170310101001002 ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 170310101001003 ┆ 4   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 170310101002000 ┆ 5   │
└─────────────────┴─────┘

In [5]:
df=pl.read_csv("Results/cookcounty_15mi_blocks_pop.csv")
df=df.join(index_df,left_on="geoid",right_on="geoid")

df=df.select([
        pl.col("id"),
        pl.col("pop"),
])
print(df.shape)
df.to_csv("Results/cookcounty_15mi_blocks_pop_indexreplaced.csv")

(166980, 2)