In [1]:
import pandas as pd
import altair as alt
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import geopandas as gpd

## Part 1

In [2]:
df1=pd.read_csv("access_1800_1.csv")
#df1.columns=['geoid','pop10','acc1800_1','acc1800_1_1000','acc1800_n_1']
df1.head()

             geoid  POP10   acc1800  acc1800_1000  acc1800_n
0  170318046091014     88  0.003737      3.737472   0.576805
1  170318234004046      4  0.003278      3.277715   0.505850
2  170318226022022     69  0.003679      3.678817   0.567752
3  170318232002032      2  0.003420      3.420377   0.527867
4  170318233023013      0  0.003352      3.352040   0.517321

In [3]:
#df1=pd.read_csv("access_1800_1.csv").drop(columns=['POP10'])
#df1.columns=['geoid','acc1800_1','acc1800_1_1000','acc1800_n_1']
df1=pd.read_csv("access_1800_1.csv")
df1.columns=['geoid','pop10','acc1800_1','acc1800_1_1000','acc1800_n_1']
df2=pd.read_csv("access_1800_max_f.csv").drop(columns=['POP10',])
df2.columns=['geoid','acc1800_max_f','acc1800_1000_max_f','acc1800_n_max_f']
df3=pd.read_csv("access_1800_min_f.csv").drop(columns=['POP10'])
df3.columns=['geoid','acc1800_min_f','acc1800_1000_min_f','acc1800_n_min_f']
df4=pd.read_csv("access_1800_min_a.csv").drop(columns=['POP10'])
df4.columns=['geoid','acc1800_min_a','acc1800_1000_min_a','acc1800_n_min_a']



df=df1.merge(df2,on="geoid")
df=df.merge(df3,on='geoid')
df=df.merge(df4,on='geoid')
df.head()

,geoid,pop10,acc1800_1,acc1800_1_1000,acc1800_n_1,acc1800_max_f,acc1800_1000_max_f,acc1800_n_max_f,acc1800_min_f,acc1800_1000_min_f,acc1800_n_min_f,acc1800_min_a,acc1800_1000_min_a,acc1800_n_min_a
0,170318046091014,88,0.003737,3.737472,0.576805,0.003737,3.737262,0.577585,0.003732,3.732098,0.575744,0.001378,1.377787,0.301164
1,170318234004046,4,0.003278,3.277715,0.505850,0.003277,3.277021,0.506456,0.003274,3.274222,0.505109,0.002331,2.331497,0.509630
2,170318226022022,69,0.003679,3.678817,0.567752,0.003677,3.677288,0.568316,0.003675,3.675305,0.566983,0.002760,2.760189,0.603336
3,170318232002032,2,0.003420,3.420377,0.527867,0.003420,3.420017,0.528555,0.003418,3.418130,0.527309,0.002292,2.292123,0.501024
4,170318233023013,0,0.003352,3.352040,0.517321,0.003351,3.351374,0.517947,0.003349,3.348980,0.516641,0.002406,2.406260,0.525972

In [4]:
drop_columns=df.columns.to_list()
drop_columns.remove('geoid')
drop_columns.remove('pop10')
print(drop_columns)

['acc1800_1', 'acc1800_1_1000', 'acc1800_n_1', 'acc1800_max_f', 'acc1800_1000_max_f', 'acc1800_n_max_f', 'acc1800_min_f', 'acc1800_1000_min_f', 'acc1800_n_min_f', 'acc1800_min_a', 'acc1800_1000_min_a', 'acc1800_n_min_a']

In [5]:
df['diff_max_f'] =df['acc1800_1']-df['acc1800_max_f']
df['diff_min_a'] =df['acc1800_1']-df['acc1800_min_a']
df['diff_min_f'] =df['acc1800_1']-df['acc1800_min_f']

df['diff_max_f_1000'] =df['acc1800_1_1000']-df['acc1800_1000_max_f']
df['diff_min_a_1000'] =df['acc1800_1_1000']-df['acc1800_1000_min_a']
df['diff_min_f_1000'] =df['acc1800_1_1000']-df['acc1800_1000_min_f']

df['diff_max_f_n'] =df['acc1800_n_1']-df['acc1800_n_max_f']
df['diff_min_a_n'] =df['acc1800_n_1']-df['acc1800_n_min_a']
df['diff_min_f_n'] =df['acc1800_n_1']-df['acc1800_n_min_f']
df=df.drop(columns=drop_columns)
df.head()

,geoid,pop10,diff_max_f,diff_min_a,diff_min_f,diff_max_f_1000,diff_min_a_1000,diff_min_f_1000,diff_max_f_n,diff_min_a_n,diff_min_f_n
0,170318046091014,88,2.101205e-07,0.002360,0.000005,0.000210,2.359685,0.005374,-0.000780,0.275641,0.001060
1,170318234004046,4,6.939718e-07,0.000946,0.000003,0.000694,0.946218,0.003493,-0.000605,-0.003780,0.000742
2,170318226022022,69,1.528732e-06,0.000919,0.000004,0.001529,0.918628,0.003512,-0.000564,-0.035583,0.000769
3,170318232002032,2,3.590613e-07,0.001128,0.000002,0.000359,1.128254,0.002246,-0.000688,0.026844,0.000558
4,170318233023013,0,6.664264e-07,0.000946,0.000003,0.000666,0.945781,0.003060,-0.000626,-0.008651,0.000680

In [6]:
# check equal 0 parts
#diff_max_f_1000	diff_min_a_1000	diff_min_f_1000
# temp=df[df['diff_max_f_1000']==0]
# temp.head(30)

In [7]:
# temp=df[df['diff_min_f_1000']==0]
# temp.head(30)

In [8]:
# temp=df[df['diff_min_a_1000']==0]
# temp.head(30)

## diff_max_f_1000

In [9]:
df[df['diff_max_f_1000']<0].shape[0],df[df['diff_max_f_1000']==0].shape[0],df[df['diff_max_f_1000']>0].shape[0]

(13420, 26, 85586)

In [10]:
print ("{0:.2%}".format(df[df['diff_max_f_1000']<0].shape[0]/99032.0),"{0:.2%}".format(df[df['diff_max_f_1000']==0].shape[0]/99032.0),"{0:.2%}".format(df[df['diff_max_f_1000']>0].shape[0]/99032.0))

13.55% 0.03% 86.42%

In [11]:
df[df['diff_max_f_1000']<0]['pop10'].sum(),df[df['diff_max_f_1000']==0]['pop10'].sum(),df[df['diff_max_f_1000']>0]['pop10'].sum()

(858834, 0, 4335841)

In [12]:
print ("{0:.2%}".format(df[df['diff_max_f_1000']<0]['pop10'].sum()/5194675.0),"{0:.2%}".format(df[df['diff_max_f_1000']==0]['pop10'].sum()/5194675.0),"{0:.2%}".format(df[df['diff_max_f_1000']>0]['pop10'].sum()/5194675.0))

16.53% 0.00% 83.47%

## diff_min_a_1000

In [13]:
df[df['diff_min_a_1000']<0].shape[0],df[df['diff_min_a_1000']==0].shape[0],df[df['diff_min_a_1000']>0].shape[0]

(13, 26, 98993)

In [14]:
print ("{0:.2%}".format(df[df['diff_min_a_1000']<0].shape[0]/99032.0),"{0:.2%}".format(df[df['diff_min_a_1000']==0].shape[0]/99032.0),"{0:.2%}".format(df[df['diff_min_a_1000']>0].shape[0]/99032.0))

0.01% 0.03% 99.96%

In [15]:
df[df['diff_min_a_1000']<0]['pop10'].sum(),df[df['diff_min_a_1000']==0]['pop10'].sum(),df[df['diff_min_a_1000']>0]['pop10'].sum()

(0, 0, 5194675)

In [ ]:
df[df['diff_min_a_1000']<0].to_csv("/Users/yaxiongshao/Downloads/test.csv",index=False)

In [21]:
print ("{0:.2%}".format(df[df['diff_min_a_1000']<0]['pop10'].sum()/5194675.0),"{0:.2%}".format(df[df['diff_min_a_1000']==0]['pop10'].sum()/5194675.0),"{0:.2%}".format(df[df['diff_min_a_1000']>0]['pop10'].sum()/5194675.0))

0.00% 0.00% 100.00%

## diff_min_f_1000

In [36]:
df[df['diff_min_f_1000']<0].shape[0],df[df['diff_min_f_1000']==0].shape[0],df[df['diff_min_f_1000']>0].shape[0]

(38942, 26, 60064)

In [44]:
print ("{0:.2%}".format(df[df['diff_min_f_1000']<0].shape[0]/99032.0),"{0:.2%}".format(df[df['diff_min_f_1000']==0].shape[0]/99032.0),"{0:.2%}".format(df[df['diff_min_f_1000']>0].shape[0]/99032.0))

39.32% 0.03% 60.65%

In [22]:
df[df['diff_min_f_1000']<0]['pop10'].sum(),df[df['diff_min_f_1000']==0]['pop10'].sum(),df[df['diff_min_f_1000']>0]['pop10'].sum()

(1973585, 0, 3221090)

In [23]:
print ("{0:.2%}".format(df[df['diff_min_f_1000']<0]['pop10'].sum()/5194675.0),"{0:.2%}".format(df[df['diff_min_f_1000']==0]['pop10'].sum()/5194675.0),"{0:.2%}".format(df[df['diff_min_f_1000']>0]['pop10'].sum()/5194675.0))

37.99% 0.00% 62.01%

## part 2

In [6]:
#join df to shapefile attribute table
gdf= gpd.read_file("/Users/yaxiongshao/Documents/GitHub/E2SVCA_15MI_BLOCKS/1.Supply/data/Census2010/CookCountyBlocks/Blocks.shp").drop(columns=['TRACTCE10','HOUSING10'])
gdf['GEOID10'] = gdf['GEOID10'].astype('int64')
gdf.head()

,GEOID10,POP10,LAT,LON,geometry
0,170318046091014,88,42.035398,-88.047327,"POLYGON ((-88.04667 42.03609, -88.04655 42.036..."
1,170318234004046,4,41.663501,-87.707536,"POLYGON ((-87.70602 41.66378, -87.70557 41.663..."
2,170318226022022,69,41.699074,-87.745527,"POLYGON ((-87.74494 41.69999, -87.74494 41.699..."
3,170318232002032,2,41.662969,-87.742686,"POLYGON ((-87.73946 41.66173, -87.73964 41.661..."
4,170318233023013,0,41.661378,-87.711877,"POLYGON ((-87.71278 41.65982, -87.71278 41.659..."

In [7]:
gdf2=gdf.merge(df,left_on='GEOID10',right_on='geoid')
gdf2.head()

,GEOID10,POP10,LAT,LON,geometry,geoid,diff_max_f,diff_min_a,diff_min_f,diff_max_f_1000,diff_min_a_1000,diff_min_f_1000,diff_max_f_n,diff_min_a_n,diff_min_f_n
0,170318046091014,88,42.035398,-88.047327,"POLYGON ((-88.04667 42.03609, -88.04655 42.036...",170318046091014,2.101205e-07,0.002360,0.000005,0.000210,2.359685,0.005374,-0.000780,0.275641,0.001060
1,170318234004046,4,41.663501,-87.707536,"POLYGON ((-87.70602 41.66378, -87.70557 41.663...",170318234004046,6.939718e-07,0.000946,0.000003,0.000694,0.946218,0.003493,-0.000605,-0.003780,0.000742
2,170318226022022,69,41.699074,-87.745527,"POLYGON ((-87.74494 41.69999, -87.74494 41.699...",170318226022022,1.528732e-06,0.000919,0.000004,0.001529,0.918628,0.003512,-0.000564,-0.035583,0.000769
3,170318232002032,2,41.662969,-87.742686,"POLYGON ((-87.73946 41.66173, -87.73964 41.661...",170318232002032,3.590613e-07,0.001128,0.000002,0.000359,1.128254,0.002246,-0.000688,0.026844,0.000558
4,170318233023013,0,41.661378,-87.711877,"POLYGON ((-87.71278 41.65982, -87.71278 41.659...",170318233023013,6.664264e-07,0.000946,0.000003,0.000666,0.945781,0.003060,-0.000626,-0.008651,0.000680

In [8]:
print(df.shape,gdf.shape,gdf2.shape)

(99032, 10) (99032, 5) (99032, 15)

In [10]:
for col in gdf2.columns:
    if col.startswith("diff"):
        print(col)
        gdf2.to_file('E2SVCA_Diff.gpkg', driver='GPKG', layer=col)

diff_max_f

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

diff_min_a

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

diff_min_f

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

diff_max_f_1000

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

diff_min_a_1000

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

diff_min_f_1000

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

diff_max_f_n

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

diff_min_a_n

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

diff_min_f_n

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [12]:
gdf2.to_file('E2SVCA_Diff.shp')

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,
/var/folders/7s/gg08bxbn5_lgc58vh1jbwxs00000gn/T/ipykernel_79943/1390818739.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf2.to_file('E2SVCA_Diff.shp')

## part 3  normalized results differences

## acc1800_max_f

In [37]:
diff_max_f=(df.acc1800_n_1 - df.acc1800_max_f).to_frame()
diff_max_f.columns=['diff_max_f']
diff_max_f.head()

AttributeError: 'DataFrame' object has no attribute 'acc1800_n_1'

In [7]:
diff_max_f_1=diff_max_f[(diff_max_f['diff_max_f']==0) ]
diff_max_f_1.shape

(27, 1)

In [8]:
diff_max_f.shape

(99032, 1)

In [9]:
diff_max_f_1=diff_max_f[(diff_max_f['diff_max_f']>=-0.005) & (diff_max_f['diff_max_f']<=0.005)]
diff_max_f_1.shape

(90432, 1)

In [10]:
diff_max_f_1=diff_max_f[(diff_max_f['diff_max_f']<-0.005) ]#below
diff_max_f_1.shape

(5087, 1)

In [11]:
diff_max_f_1=diff_max_f[(diff_max_f['diff_max_f']>0.005)]# above
diff_max_f_1.shape

(3513, 1)

In [12]:
# make a table
# diff map
#poor area ,

## acc1800_min_a

In [13]:
diff_min_a=(df.acc1800_n_1 - df.acc1800_min_a).to_frame()
diff_min_a.columns=['diff_min_a']
diff_min_a.head()

   diff_min_a
0    0.275641
1   -0.003780
2   -0.035583
3    0.026844
4   -0.008651

In [14]:
diff_min_a_1=diff_min_a[(diff_min_a['diff_min_a']>=-0.005) & (diff_min_a['diff_min_a']<=0.005)]
diff_min_a_1.shape

(1928, 1)

In [15]:
diff_min_a_1=diff_min_a[(diff_min_a['diff_min_a']<-0.005) ]#below
diff_min_a_1.shape

(6494, 1)

In [16]:
diff_min_a_1=diff_min_a[ (diff_min_a['diff_min_a']>0.005)]#above
diff_min_a_1.shape

(90610, 1)

## acc1800_min_f

In [17]:
diff_df=(df.acc1800_n_1 - df.acc1800_min_f).to_frame()
diff_df.columns=['diff_min_f']
diff_min_f.head()

   diff_min_f
0    0.001060
1    0.000742
2    0.000769
3    0.000558
4    0.000680

In [18]:
diff_min_f_1=diff_min_f[(diff_min_f['diff_min_f']==0)]
diff_min_f_1.shape

(27, 1)

In [19]:
diff_df_1=diff_df[(diff_df['diff_df']>=-0.005) & (diff_df['diff_df']<=0.005)]
diff_df_1.shape

(96476, 1)

In [20]:
diff_min_f_1=diff_min_f[(diff_min_f['diff_min_f']<-0.005) ]#below
diff_min_f_1.shape

(1517, 1)

In [21]:
diff_min_f_1=diff_min_f[ (diff_min_f['diff_min_f']>0.005)]# above
diff_min_f_1.shape

(1039, 1)

## part 4

## map

In [22]:
gdf= gpd.read_file("/Users/yaxiongshao/Documents/GitHub/E2SVCA_15MI_BLOCKS/1.Supply/data/Census2010/CookCountyBlocks/Blocks.shp").drop(columns=['TRACTCE10','HOUSING10'])
gdf['GEOID10'] = gdf['GEOID10'].astype('int64')
gdf.head()

,GEOID10,POP10,LAT,LON,geometry
0,170318046091014,88,42.035398,-88.047327,"POLYGON ((-88.04667 42.03609, -88.04655 42.036..."
1,170318234004046,4,41.663501,-87.707536,"POLYGON ((-87.70602 41.66378, -87.70557 41.663..."
2,170318226022022,69,41.699074,-87.745527,"POLYGON ((-87.74494 41.69999, -87.74494 41.699..."
3,170318232002032,2,41.662969,-87.742686,"POLYGON ((-87.73946 41.66173, -87.73964 41.661..."
4,170318233023013,0,41.661378,-87.711877,"POLYGON ((-87.71278 41.65982, -87.71278 41.659..."

In [23]:
gdf.dtypes

GEOID10        int64
POP10          int64
LAT          float64
LON          float64
geometry    geometry
dtype: object

In [24]:
gdf2=gdf.merge(df,left_on='GEOID10',right_on='geoid')
gdf2.head()

,GEOID10,POP10,LAT,LON,geometry,geoid,acc1800_n_1,acc1800_max_f,acc1800_min_f,acc1800_min_a,diff_max_f,diff_min_a,diff_min_f
0,170318046091014,88,42.035398,-88.047327,"POLYGON ((-88.04667 42.03609, -88.04655 42.036...",170318046091014,0.576805,0.577585,0.575744,0.301164,-0.000780,0.275641,0.001060
1,170318234004046,4,41.663501,-87.707536,"POLYGON ((-87.70602 41.66378, -87.70557 41.663...",170318234004046,0.505850,0.506456,0.505109,0.509630,-0.000605,-0.003780,0.000742
2,170318226022022,69,41.699074,-87.745527,"POLYGON ((-87.74494 41.69999, -87.74494 41.699...",170318226022022,0.567752,0.568316,0.566983,0.603336,-0.000564,-0.035583,0.000769
3,170318232002032,2,41.662969,-87.742686,"POLYGON ((-87.73946 41.66173, -87.73964 41.661...",170318232002032,0.527867,0.528555,0.527309,0.501024,-0.000688,0.026844,0.000558
4,170318233023013,0,41.661378,-87.711877,"POLYGON ((-87.71278 41.65982, -87.71278 41.659...",170318233023013,0.517321,0.517947,0.516641,0.525972,-0.000626,-0.008651,0.000680

In [25]:
gdf2.to_file('E2SVCA_Normalized_Diff.gpkg', driver='GPKG', layer='diff_max_f') 
gdf2.to_file('E2SVCA_Normalized_Diff.gpkg', driver='GPKG', layer='diff_min_a') 
gdf2.to_file('E2SVCA_Normalized_Diff.gpkg', driver='GPKG', layer='diff_min_f')

/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,
/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,
/Users/yaxiongshao/opt/miniconda3/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

## Change margin to 0.0001

### acc1800_max_f

In [50]:
margin=0.000
column='diff_max_f'
diff_df=(df.acc1800_n_1 - df.acc1800_max_f).to_frame()
diff_df.columns=[column]
diff_df.head()

   diff_max_f
0   -0.000780
1   -0.000605
2   -0.000564
3   -0.000688
4   -0.000626

(36881, 1) (27, 1) (62124, 1)

In [51]:
diff_df_on=diff_df[(diff_df[column]>=(-1*margin)) & (diff_df[column]<=margin)]
diff_df_below=diff_df[(diff_df[column]<(-1*margin)) ]#below
diff_df_above=diff_df[ (diff_df[column]>margin)]# above
print(diff_df_below.shape[0],diff_df_on.shape[0],diff_df_above.shape[0])

36881 27 62124

### acc1800_min_a

In [52]:
column='diff_min_a'
diff_df=(df.acc1800_n_1 - df.acc1800_min_a).to_frame()
diff_df.columns=[column]
diff_df.head()

   diff_min_a
0    0.275641
1   -0.003780
2   -0.035583
3    0.026844
4   -0.008651

In [53]:
diff_df_on=diff_df[(diff_df[column]>=(-1*margin)) & (diff_df[column]<=margin)]
diff_df_below=diff_df[(diff_df[column]<(-1*margin)) ]#below
diff_df_above=diff_df[ (diff_df[column]>margin)]# above
print(diff_df_below.shape[0],diff_df_on.shape[0],diff_df_above.shape[0])

7390 27 91615

### acc1800_min_f

In [54]:
column='diff_min_f'
diff_df=(df.acc1800_n_1 - df.acc1800_min_f).to_frame()
diff_df.columns=[column]
diff_df.head()

   diff_min_f
0    0.001060
1    0.000742
2    0.000769
3    0.000558
4    0.000680

In [55]:
diff_df_on=diff_df[(diff_df[column]>=(-1*margin)) & (diff_df[column]<=margin)]
diff_df_below=diff_df[(diff_df[column]<(-1*margin)) ]#below
diff_df_above=diff_df[ (diff_df[column]>margin)]# above
print(diff_df_below.shape[0],diff_df_on.shape[0],diff_df_above.shape[0])

33202 27 65803